h1 {
    color: red;
}

.content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.sample {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 1%;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
}

img {
    border-radius: 8px;
}

.sample>a {
    margin: 10px;
}

.sample img {
    height: 150px;
    transition: transform 0.3s ease;
}

.sample img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #f4f4f4;
    color: #f4f4f4;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer > .container {
    background-color: #f4f4f4;
}

main > .container {
    padding: 60px 15px 0;
}

.book-container {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 600px;
    margin: auto;
    margin-top: 50px;
}

.book-image img {
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
    object-fit: cover;
}

.book-details {
    padding: 20px;
    flex: 1;
}

.book-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.book-author, .book-price {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

.book-author span, .book-price span {
    font-weight: bold;
}

.buy-button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #2980b9;
}

/* Style pour les boutons "Ajouter aux favoris" et "Retirer des favoris" */
.favorite-button {
    background-color: white;
    color: #e74c3c;
    border: 2px solid #e74c3c;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.favorite-button i {
    margin-right: 8px;
}

.favorite-button:hover {
    background-color: #e74c3c;
    color: white;
}

.favorite-button.active {
    background-color: #e74c3c;
    color: white;
}

.favorite-button.active i {
    color: white;
}

/* Style pour le bouton de modification */
.edit-button {
    background-color: #e67e22;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #d35400;
}

/* Conteneur des boutons : répartir sur deux lignes */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.button-container a {
    margin-bottom: 10px;
}

/* .button-container a:nth-child(2) {
    width: 100%; /* Le bouton de favoris occupe toute la ligne */
/*} */

/* Table styles */
.table-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    margin-top: 20px;
    margin-bottom: 8em;
    width: 920px;
}

.users {
    width: 600px;
}

.table-section {
    flex: 1;
    margin: 0 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

th a {
    text-decoration: none;
    color: inherit;
}

th a:hover {
    text-decoration: underline;
}

th i {
    margin-left: 5px;
}

table img {
    width: 50px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

table img:hover {
    transform: scale(2);
}

.action {
    color: #3498db;
    text-decoration: none;
}

.action:hover {
    text-decoration: underline;
}

/* Boutons de l'interface */
.container-title {
    display: flex;
    justify-content: space-around;
}

.add-author-button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.add-author-button:hover {
    background-color: #2980b9;
}

/* Navbar */
.navbar-right {
    float: right;
    margin-right: 20px;
}

.navbar-right li {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-right a:hover {
    background-color: #007bff;
    color: #fff;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* Form styling */
.form-horizontal {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.control-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, .5);
}

.les-btn {
    display: flex;
    justify-content: space-around;
}

.les-btn a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.btn-connecter, .btn-inscrire {
    width: 40%;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-connecter:hover, .btn-inscrire:hover {
    background-color: #4cae4c;
}

.favorites-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.favorites-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

.book-link {
    text-decoration: none;
    color: inherit; /* Preserve text color */
}

.book-card {
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


#search-input {
    position: relative;
    z-index: 10; /* S'assure que l'input est bien au-dessus des autres éléments */
}

#search-suggestions {
    display: block;
    position: absolute;
    top: 100%;  /* Positionne le datalist juste en dessous du champ */
    left: 0;
    z-index: 999;
    width: 100%;
    max-width: 400px;  /* Largeur maximale si vous voulez qu'il ne dépasse pas une certaine taille */
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;  /* Limite la hauteur des suggestions */
    overflow-y: auto;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    width: 100%;  /* Assure que le datalist prend la même largeur que l'input */
    max-width: 400px;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}


/* Container for the author card */
.author-card {
    padding: 20px;
    background-color: #fdfdfd;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    text-align: center;
}

/* Hover effect for the author card */
.author-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Author's name style */
.author-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Number of books text */
.author-books-count {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

/* List of books by the author */
.author-books-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Individual book links under the author */
.author-books-list a {
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Hover effect for book links */
.author-books-list a:hover {
    color: #2980b9;
    text-decoration: underline;
}

/* Responsive design for the favorites list */
@media (min-width: 768px) {
    .favorites-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 1028px) {
    .disapear {
        display: none;
    }
    
}

@media (max-width: 1000px) {
    .disapear {
        display: none;
    }
    .cache {
        display: none;
    }
}

.book-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s, box-shadow 0.3s;
}

.book-link:hover .book-card {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Section des avis */
.book-reviews {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    margin-bottom: 75px;
    margin-top: 30px;
}

.book-reviews h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.book-reviews ul {
    list-style-type: none;
    padding: 0;
}

.book-reviews ul li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.book-reviews ul li strong {
    color: #3498db;
}

.book-reviews p {
    font-size: 16px;
    color: #555;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.book-reviews form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.book-reviews textarea {
    resize: none;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book-reviews button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-reviews button:hover {
    background-color: #2980b9;
}

.book-reviews p.connect-message {
    font-size: 16px;
    color: #e74c3c;
    text-align: center;
    margin-top: 10px;
}

.button-container a {
    /* margin: 50px auto; */
    margin-left: 2px;
    margin-right: 2px;
}

