Afin de créer un environnement virtuel et d'installer les dépendances, il suffit de lancer la commande suivante :
virtualenv -p python3 venv

Pour activer l'environnement virtuel, il suffit de lancer la commande suivante :
source venv/bin/activate

Enfin, pour installer toutes les dépendances, il suffit de lancer les commandes suivantes :

pip install flask
pip install python-dotenv
pip install bootstrap-flask
pip install PyYAML
pip install flask-sqlalchemy
pip install flask-wtf
pip install flask-login



