{% extends "base.html" %}
{% block head %}
<title>Modifier : {{ author.name }}</title>
{% endblock %}
{% block main %}
<h1>Edit author: {{ author.name }}</h1>
<form class="form-horizontal" role="form" method="POST" action="{{ url_for('save_author', idBook=idBook) }}">
    {{ form.hidden_tag() }}
    <div class="{% if form.name.errors %}form-group has-error{% else %}form-group{% endif %}">
        {{ form.name.label }} {{ form.name(size=50, class_="form-control") }}
    </div>
    {% if form.name.errors %}
    <ul class="list-group">
        {% for e in form.name.errors %}
        <li class="list-group-item list-group-item-danger">{{ e }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="les-btn">
        <input class="btn btn-connecter" type="submit" value="Enregistrer">
    </div>
</form>
{% endblock %}
