{% extends "base.html" %}
{% block head %}
<title>Se connecter</title>
{% endblock %}
{% block main %}
<h1>Se connecter</h1>
<form class="form-horizontal" role="form" method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">{{ form.username.label }}</label>
        <div>
            {{ form.username(size=50, class_="form-control", placeholder="Username") }}
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">{{ form.password.label }}</label>
        <div>
            {{ form.password(size=50, class_="form-control", placeholder="Password") }}
        </div>
    </div>
    <div class="form-group">
        {% if error %}
            <p><strong>Erreur : </strong>{{ error }}</p>
        {% endif %}
        <div class="les-btn">
            {{ form.submit(class_="btn-inscrire") }}
            <a href="{{ url_for('sign_in') }}" class="btn-inscrire">S'inscrire</a>
        </div>
    </div>     
</form>
{% endblock %}
