{% extends "base.html" %}
{% block head %}
<title>Ajouter un auteur</title>
{% endblock %}
{% block main %}
<h1>Add author</h1>
<form class="form-horizontal" role="form" method="POST" action="{{ url_for ('save_new_author') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{ form.name.label }}</label>
        <div>
            {{ form.name(size=50, class_="form-control", placeholder="Nom de l'auteur") }}
        </div>
    </div>
    <div class="form-group">
        {% if error %}
            <p><strong>Erreur : </strong>{{ error }}</p>
        {% endif %}
        <div class="les-btn">
            {{ form.submit(class_="btn-inscrire") }}
        </div>
    </div> 
</form>
{% endblock %}