{% extends "base.html" %}
{% block head %}
<title>Ajouter un livre</title>
{% endblock %}
{% block main %}
<h1>Ajouter un Livre</h1>
<form class="form-horizontal" role="form" method="POST" action="{{ url_for ('newBook') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">{{ form.title.label }}</label>
        <div>
            {{ form.title(size=50, class_="form-control", placeholder="Nom du livre") }}
        </div>
    </div>
    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">{{ form.price.label }}</label>
        <div>
            {{ form.price(size=50, class_="form-control", placeholder="Prix") }}
        </div>
    </div>
    <div class="form-group">
        <label for="author" class="col-sm-2 control-label">{{ form.author.label }}</label>
        <div>
            {{ form.author(size=50, class_="form-control", placeholder="Nom de l'auteur") }}
        </div>
    </div>
    <div class="form-group">
        <label for="img" class="col-sm-2 control-label">{{ form.img.label }}</label>
        <div>
            {{ form.img(size=50, class_="form-control") }}
        </div>
    </div>
    <div class="form-group">
        {% if error %}
            <p><strong>Erreur : </strong>{{ error }}</p>
        {% endif %}
        <div class="les-btn">
            {{ form.submit(class_="btn-inscrire") }}
        </div>
    </div>  
</form>
{% endblock %}